h1 {
    color: var(--title-text-color);
    text-align: center;
}

.title__text {
    color: var(--title-text-color);
    text-align: center;
}

.header {
    background-image: url(../img/main-backg-picture.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}


.figma-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nav a {
    color: var(--title-text-color);
    text-decoration: none;
}

.nav a:hover {
    text-decoration: underline;
}

